body {
  margin-top: 51px !important;
}



html, body {
	
	width: 100% !important;
  overflow-x: hidden !important;
  background-color: #eee !important;
	
}

 img {
   margin: 0 auto;
   min-width: 100%;
}

input {
  font-size: 16px !important;


}


.navbar.navbar-default.navbar-static-top {
  margin: 0;
}

.navbar-inverse a { color: #fff !important; }

.navbar-inverse a:hover { background: rgb(96, 115, 120) !important; }


.navbar.navbar-inverse.custom {
	background-color: #333333;
	border-style: none;
	opacity: 25%;
	color: #fff;
	margin-bottom: 0px;

}

  /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
    	.jumbotron  {

    		min-height: 50vh;
    		background-attachment: scroll;
    	}

    	#navigation {
    		font-size: 1em;

    	}

    	.jumbotron p em  {
    		font-size: 0.9em;
    	}
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    	.jumbotron  {

    		min-height: 50vh;
    		background-attachment: scroll;
    	}

    	#navigation {
    		font-size: 1em;

    	}

    	.jumbotron p em  {
    		font-size: 0.9em;
    	}

    	.jumbotron-content {
    		margin-top: 0;
			  margin-bottom: 0;
    	}



    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	.jumbotron  {

    		min-height: 75vh;
    		background-attachment: scroll;
    	}

    	.jumbotron p em {
    		font-size: 0.9em;
    	}

    	.jumbotron-content {
    		margin-top: 0;
			  margin-bottom: 0;
    	}

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	.jumbotron  {

    		min-height: 100vh;
    		background-attachment: fixed;
    	}

    	.jumbotron p em  {
    		font-size: 2.2em;
    	}

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    	.jumbotron  {

    		min-height: 100vh;
    		background-attachment: fixed;

    	}

    	.jumbotron p em {
    		font-size: 2.2em;
    	}

    	.jumbotron-content {
    		margin-top: 10%;
			  margin-bottom: 20%;
    	}
    }


.jumbotron {
   	color: #fff !important; 
   	background-size: cover;
   	position: relative;
    background-repeat: no-repeat !important; 
}




.jumbotron ul {
	 text-align: center;
     display: inline-block;
     position: relative;

}

.jumbotron-content {
	position: relative;
	
}


#navigation {
      
    height: auto;
    border-style: none;
    width: 100%;
    background: transparent;

}

#navigation {
	
    display: inline-block;
    position: relative;
    padding-left: 0;
    font-size: 1.2em;

}



 #navigation li {
          
    display: inline-block;
    padding: 15px;
   
}

 #navigation a {
 	 text-decoration: none;
 	 color:   #fff;
 }

 #navigation a:hover {
   text-decoration: none;
   color: #ffd8a6;
 }

 .jumbotron p {
 	margin-top: 5%;
 	margin-bottom: 7%;
 	margin-right: 15px;
 }





#project-title {
	margin-bottom: 40px;

}

#project-title h1 {
	font-size: 3em !important;
	
}


#project-container {
	min-height: 100vh;
	margin-top: 10%;
	margin-bottom: 10%;
}

#contact-container {
	min-height: 75vh;
	margin-top: 10%;
	margin-bottom: 10%;
}

#contact-container h1 {
  margin-bottom: 40px;
}

#contact {
	background-color: rgb(76, 83, 100);
  color: #fff;
}

footer p {
	
	padding-top: 10px;
	padding-bottom: 0px;
	color: rgb(244, 244, 246);
	font-size: 1em !important;
}

footer p:nth-child(2) {
	margin-top: -20px;
}

footer ul {
	
	margin-left: -32px;
    margin-top: -9px;
}


footer {
	
	background-color: #333333;
	padding-top: 45px;
  padding-bottom: 45px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#navigation-footer  {
  margin-top: 10px;
}



.project {
	font-weight: 500;
	font-size: 1.5em;
	margin-bottom: 40px;
	padding-bottom: 20px; 
	
}

.card {
 
 -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0,0.4);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
    border: 1px solid #eee;
}

.card {
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  background-color: #fff !important;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
  max-height: 350px;
  z-index: 1 !important;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  min-height: 250px;
  position: relative;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content a {
  margin: 0;
  color: inherit;
  text-decoration: none;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: 	#5bc0de;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}





