* {
   font-size: 18px;
   line-height: 2;
}

body {
	background-color: #DFE2DB;
}


h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important; 
}

.navbar-inverse a { color: #fff !important; }

.navbar-inverse a:hover { background: rgb(96, 115, 120) !important; }


.navbar.navbar-inverse.custom {
	background-color: rgb(21, 48, 56);
	border-color: rgb(21, 48, 56);
	color: #fff;

}

.content {
	width: 65%;
    margin: 20px auto 0 auto;
    min-width: 350px;



}

.jumbotron.custom {
	background: rgb(21, 48, 56);
	color: #fff;
	padding-bottom: 133px;
}

.jumbotron {
	top: -20px;
	position: relative;
	padding-bottom: 133px;
	
}

.jumbotron p, h1 {
	width: 100%;
	
}

#project-title {
	padding-bottom: 20px;
}

.panel-default h3 {
	
}

.panel-default p {
	font-size: 1.2em;
	margin-top: 10px;
}


.panel-default {
	
    
    margin-top: 20px;
    margin-bottom: 10px; 
   
}

.panel-default a {
	margin-right: 7px;
}

footer p {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0px;
}

footer p:nth-child(2) {
	margin-top: -20px;
}

footer ul {
	text-align: center;
	margin-left: -32px;
    margin-top: -9px;
}
footer li {
	text-decoration: none;
	display: inline;
	margin-right: 20px;
}

footer {
	margin-top: 5%;
	background-color: #fff;
	border-top: 1px solid;
	border-color: #eeeeee;
	padding-top: 45px;
    padding-bottom: 45px;
}

.project {
	font-weight: 500;
	font-size: 1.5em;
	margin-bottom: 20px;
	border-bottom: 1px solid;
	border-color: #eeeeee;
}

#projects {
	text-align: center;

    font-size: 2.5em;
}

