

html, body {
	
	width: 100% !important;
}


h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important; 
}

.navbar-inverse a { color: #fff !important; }

.navbar-inverse a:hover { background: rgb(96, 115, 120) !important; }


.navbar.navbar-inverse.custom {
	background-color: rgb(21, 48, 56);
	border-color: rgb(21, 48, 56);
	color: #fff;

}

.content {
	width: 65%;
    margin: 20px auto 0 auto;
    min-width: 350px;



}

.jumbotron.custom {
	background: rgb(21, 48, 56);
	color: #fff;
	padding-bottom: 133px;
}

.jumbotron {
	top: -20px;
	position: relative;
	padding-bottom: 133px;
	
}

.jumbotron p, h1 {
	width: 100%;
	
}

#project-title {
	padding-bottom: 20px;

}

#project-title h1 {
	font-size: 1.7em !important;
}

.panel-default h3 {
	
}

.panel-default p {
	font-size: 1.2em;
	margin-top: 10px;
}


.panel-default {
	
    
    margin-top: 20px;
    margin-bottom: 10px; 
   
}

.panel-default a {
	margin-right: 7px;
}

footer p {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0px;
	font-size: 0.8em !important;
}

footer p:nth-child(2) {
	margin-top: -20px;
}

footer ul {
	text-align: center;
	margin-left: -32px;
    margin-top: -9px;
}


footer {
	margin-top: 5%;
	background-color: #fff;
	border: 1px solid;
	border-color: #eeeeee;
	padding-top: 45px;
    padding-bottom: 45px;
    border-radius: 20px
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.project {
	font-weight: 500;
	font-size: 1.5em;
	margin-bottom: 40px;
	padding-bottom: 20px; 
	border-bottom: 1px solid;
	border-color: #eeeeee;
}

.project a {
	color: #404040;
	
}

.project a:hover {
	color: #337ab7;
	text-decoration: none;
}

.project h2 {
	margin-bottom: 30px;
}

.project p {
	margin-bottom: 30px;
}

#projects {
	text-align: center;

    font-size: 2.5em;
}


@media (max-width: 1600px) {
  

  * {
  	font-size: 18px !important;
   	
  }

  .container h1 {
  	font-size: 1.9em !important;
  }
 

 }


@media (max-width: 600px) {
  

  * {
  	font-size: 14px !important;
   	
  }

  .container h1 {
  	font-size: 1.9em !important;
  }
 

 }

 @media (max-width: 900px) {
  

  * {
  	font-size: 16px !important;
   	
  }

  .container h1 {
  	font-size: 1.9em !important;
  }
 

 }


