

body {
	background-color: #DFE2DB;
}


h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important; 
}

.jumbotron {
	min-height: 100vh;
	    margin-bottom: 0 !important;
}

#input, #output {
	margin: 20px 0 20px 0;
}

.project {
	margin-top: 20%;
}

.project h2 {
	margin-bottom: 20px;
}

button {
	margin-right: 7px !important;
}




footer p {
	
	padding-top: 10px;
	padding-bottom: 0px;
	color: rgb(244, 244, 246);
	font-size: 1em !important;
}

footer p:nth-child(2) {
	margin-top: -20px;
}

footer ul {
	
	margin-left: -32px;
    margin-top: -9px;
}


footer {
	
	background-color: #333333;
	padding-top: 45px;
  padding-bottom: 45px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#navigation-footer  {
  margin-top: 10px;
}

.navbar-inverse a { color: #fff !important; }

.navbar-inverse a:hover { background: rgb(96, 115, 120) !important; }


.navbar.navbar-inverse.custom {
	background-color: #333333;
	border-style: none;
	opacity: 25%;
	color: #fff;
	margin-bottom: 0px;

}





